{% if pacemaker_running.stdout == 'active' %}
{% for controller_outer_unsplit in controllers %}
{% for controller_inner_unsplit in controllers %}
{% if controller_outer_unsplit != controller_inner_unsplit %}
{% set controller_outer = controller_outer_unsplit.split(',') %}
{% set controller_inner = controller_inner_unsplit.split(',') %}
@{{ controller_outer[0] }} @{{ controller_inner[0] }} : PSK "{{ ipsec_psk }}"
{% endif %}
{% endfor %}
{% endfor %}
@{{ ansible_hostname }}.internalapi @computecluster : PSK "{{ ipsec_psk }}"
{% else %}
{% for controller_unsplit in controllers %}
{% set controller = controller_unsplit.split(',') %}
@computecluster @{{ controller[0] }} : PSK "{{ ipsec_psk }}"
{% endfor %}
{% endif %}
