{% if pacemaker_running.stdout == 'active' %}
{% for controller_unsplit in controllers %}
{% set controller = controller_unsplit.split(',') %}
{% if controller[0] != (ansible_hostname + '.internalapi') %}
@{{ ansible_hostname }}.internalapi @{{ controller[0] }} : PSK "{{ ipsec_psk }}"
{% endif %}
{% endfor %}
@{{ ansible_hostname }}.internalapi @computecluster : PSK "{{ ipsec_psk }}"
{% else %}
{% for controller_unsplit in controllers %}
{% set controller = controller_unsplit.split(',') %}
@computecluster @{{ controller[0] }} : PSK "{{ ipsec_psk }}"
{% endfor %}
{% endif %}
