{% if pacemaker_running.stdout == 'active' %}
@{{ current_vip.key }}vip @overcloud{{ current_vip.key }}cluster : PSK "{{ ipsec_psk }}"
{% endif %}
@overcloud{{ current_vip.key }}cluster @{{ current_vip.key }}vip : PSK "{{ ipsec_psk }}"
