{% if pacemaker_running.stdout == 'active' %}
@{{ ansible_hostname }}.internalapi @computecluster : PSK "{{ ipsec_psk }}"
{% else %}
{% for controller_unsplit in controllers %}
{% set controller = controller_unsplit.split(',') %}
@computecluster @{{ controller[0] }} : PSK "{{ ipsec_psk }}"
{% endfor %}
{% endif %}
