{% if pacemaker_running.stdout == 'active' %}
@internalapivip @overcloudinternalapicluster : PSK "{{ ipsec_psk }}"
@redisvip @overcloudrediscluster : PSK "{{ ipsec_psk }}"
{% endif %}
@overcloudinternalapicluster @internalapivip : PSK "{{ ipsec_psk }}"
@overcloudrediscluster @redisvip : PSK "{{ ipsec_psk }}"
